<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引用vue后全局就会多一个vue的对象 -->
    <script src="../vue.js"></script>
    <!-- <script src="../vue.global.js"></script> -->
    <title>初识vue</title>
</head>
<body>
    <div id="root">
        <button @click="n++">点我显示{{n}}</button>
        <h1 v-if="n === 1">夏日入侵企划</h1>
        <h1 v-else-if="n === 2">痛仰</h1>
        <h1 v-else-if="n === 3">回春丹</h1>
        <h1 v-else>康姆士</h1>
        <h1 v-if="false">麻园诗人</h1>
        <template>
            <h1>二手玫瑰</h1>     
        </template>
    </div>

    <script>
        const app = new Vue({
            el:'#root',
            data:{
                info:false,
                n:0            
            }   
        })   
             
    </script>
    
</body>
</html>